{{!-- fileList partial --}}
<div class="file-list has-items student-file-list">
    {{#each attachments}}
    <div class="file-item">
        <div class="file-item-icon">{{this.fileType}}</div>
        <div class="file-item-info">
            <p class="file-item-name">{{this.fileName}}</p>
            <p class="file-item-size">{{this.fileSize}}</p>
        </div>
        <a href="{{this.downloadLink}}" class="attachment-download" aria-label="Download attachment">
            <img src="../images/file-download-svgrepo-com.svg" alt="Download">
        </a>
    </div>
    {{/each}}
</div>

