<div class="submit-wrap">
    <button id="submitTicketBtn" type="{{#if buttonType}}{{buttonType}}{{else}}button{{/if}}" class="btn submit-btn">
        {{#if buttonText}}{{buttonText}}{{else}}Υποβολή{{/if}}
    </button>
</div>