html {
  font-size: 10px;
  /* color: 363B66; */
  /* min-width: min-content; */
}



body {
  background-color: #F5F5F5;
  background: linear-gradient(270deg, #C6D8F2 0%, #F4F4F4 53%);
  color: #363B66;
  margin: 0;
  /* min-width: min-content; */
  font: 1.8em / 1.8 'Manrope', sans-serif;
  /* font-family: 'Manrope', sans-serif; */
}

.container {
  width: 100%;          
  background-color: #FFFFFF;
  display: flex;
  margin: 0;  
  margin-bottom: 5px;  
  /* padding: 0.1em 0em; */
  min-width: 320px; /*elaxiso viewport gia na min spasei to layout */
  height:64px;
  /* min-width: min-content; */
}


nav{
  text-align: center;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;          
  max-width: 1800px;   
  margin: 0 auto; 
  /* flex-wrap: wrap; */
}

ul {
  display: flex;
  align-items: center; 
  padding-left: 0px;
  margin-right: 10px;
}

ul li{
  margin-left: 5px;
}

.nav-icon{
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.user-icon{
  width: 2em;
  height: 2em;
  object-fit: contain;
}

.logo-icon {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.logo a{
  display: flex;
  font-size: 20px;
  padding-left: 10px ;
  margin-right: 1px ;
  width:max-content;
  gap: 4px;
  /* padding-bottom: 1px;
  padding-bottom: 1px; */
  line-height: 1; 
  margin: 0;
  /* max-width: 980px;*//* de thumamai */
}

@media (max-width: 703px) {
  .logo a{
    width:fit-content;

  }
  .logo-icon {
    object-fit: contain;
  }
}

@media (max-width: 499px) {
  html {
  min-width: min-content;
}

}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 540;
  font-size: 20px;
  line-height: 1.1; 

}

.rec a{
  display: flex;        
  align-items: center; 
  gap: 3px;           
  text-decoration: none;
  color: #363B66;       
  font-weight:600;
}


.circle{
  align-items: center;
  margin-left: 6px;
  padding:0px;
  width: 40px;
  height: 40px;  
  border: 1px solid #363B66;
  border-radius: 50%;
  display: flex;
  justify-content:center;
  background:#F5F5F5;
}

.left-column input {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box; 
  max-width: 300px;
  background: #ecebeb;
  border-radius: 8px;     
  padding: 13px;          
  border: 1px  #ccc; 
}


fieldset{
  border-radius: 8px; 
}


a{
  display: flex;
  /* margin-left: 20px;
  margin-right: 20px; */
  text-decoration-line: none;
  align-items: center;
  color: #363B66; 
}

/* select:hover{
  background: orangered;
} */

li{
  display: flex;
  /* background-color: #F5F5F5; */
  /* padding-right: 10px ; */
  color: #363B66;

}

.rec{
  /* padding-left: 0%; */
  /* flex-direction: row; */
  /* background-color: #F5F5F5; */
  color: #363B66;
  width:max-content;
  height: 40px;  
  padding: 0 5px;
  line-height: 1;
  /* border: 1px  #363B66; */
  border-radius: 8px;
  justify-content: center;
  /* align-items: center; */
  background:#F5F5F5;
}

.selected a{
  color: red;
}


a:hover {  /* na valo klasi mesa sto a gia na allazoun xroma mono ta hover stin mpara */
    /* background-color: #F5F5F5; */
    color: rgb(91, 134, 209);
    /* align-items: center; */
}


/* ----- Karta upovolis ------------------------------------------ */


main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 105px);
  /* margin-top: 30px; */
}

.form-card {
  background: #ffffff;
  width: 100%;
  max-width: 900px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  border: 1px solid #dcdcdc;
  border-radius: 20px;
}

.card-header {
  text-align: center;
  padding:3px;
  border-bottom: 1px solid #dcdcdc; 
  color: #363B66;
  font-size: 15px;
  /* border-top-right-radius: 20px;
  border-top-left-radius: 20px; */
}

/* --- grid --- *//*mporousame kai me flex...*/
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* ftiaxnei duo columns me to idio width */
}

.left-column {
  padding: 30px;
  padding-top: 35px;

  background-color: #ffffff;
  border-bottom-left-radius: 20px;
}

.right-column {
  padding: 30px;
  padding-top: 35px;
  background-color: #EBEBEB; 
  display: flex;
  flex-direction: column; 
  border-bottom-right-radius: 20px;

}

textarea {
  margin-top: 5px;
  flex-grow: 1; /* pianei to available height available height */
  border-radius: 8px;
  width: 100%;  
  box-sizing: border-box;   /*na to pagidepsei mesa*/
  padding: 10px;
  border: none;
  resize: none; 
  margin-bottom: 20px;
  font-family: 'Manrope', sans-serif; 
}

.submit-btn {
  font: 1em 'Manrope', sans-serif;
  font-weight: bold;
  background-color: #363B66; 
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 20px;
  font-size: 1em;
  cursor: pointer;
  align-self: flex-end; /* to sproxnei sta deksia*/
}

.required {
  color: red;
}


/* gia to mellon */

/* #fileUpload{
  width: 20px;
  displa: none;
}
input[type="file"]::file-selector-button {
  display: none; 
} */



/* ------------ LOGIN PAGE ------------- */


.login-card {
  background: #ffffff;
  width: 100%;
  max-width: 450px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 20px; 
  overflow: hidden; /*gia mi fainontai oi gonies exw apo ta rounderd corners */
}

.login-body {
  background-color: #EBEBEB; 
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.login-body input {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 350px;
  height: 34px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 50px;     
  padding: 13px;
}

h3{
  font-weight: 600;
  font-size: 23px;
}

.small-link {
  font-size: 0.7em;
}
p.small-link {
  margin:2px;
}
p a {
  display: inline; 
}

.login-btn {
  align-self: center; 
  width: 100%;
  max-width: 250px;
  margin: 10px;
}

::placeholder{
  font: 14px 'Manrope', sans-serif;
  color:#BEBEBE
}

.login-body ::placeholder{
  padding-left: 15px;
}

/* ------------ viewtickets pages----------- */


.search-bar {
  display: flex;
  align-items: center;
  background-color: #F5F5F5;
  /* justify-content: center ; */
  /* box-sizing: border-box;  */
  border-radius: 8px;
  padding: 0px 10px;
  flex-grow: 1;
  max-width: 400px;
  min-width: 96px;
  margin-left:20px; /* apostasi apo to logo*/
  margin-right: auto; 
}

.search-bar input {
  font: 1em 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 200;
  color:#363B66;
  background: transparent;
  border: none;
  padding: 10px;
  width:100%;
  /* flex-grow: 1; */
  box-shadow: none;
  
}
.search-bar svg {
  /* apagoreuei to browser na mikrenei to svg auto */
  flex-shrink: 0; 
}

.search-bar input::placeholder {
  font-size: 18px;
}

.search-bar input:focus {
  outline: none; /* afairei to glow me to type */
}



/* ----------- Table Selida -------------- */



.dashboard-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.table-card {
  background: #ffffff;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05); 
  border-radius: 8px;
  overflow-x: auto;}

.requests-table {
  width: 100%;
  border-collapse: collapse; /* bgazei kati perierga gaps metaksi twn cells tou table */
  /* min-width: 700px; */
  text-align: left;
  color: #363B66;
}

.requests-table thead th {
    padding: 25px 20px; 
    line-height: 1.2; 
    font-weight: 600;
    border-bottom: 2px solid #EBEBEB;
}
.requests-table tbody td{
  padding: 20px 20px;
  line-height: 1.2; 
}

.col3,.col4{
  text-align: center;
}


.requests-table tbody tr:nth-child(odd) {
  background-color: #F9F9F9;
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  line-height: 1; 
}

.status .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.status-green { color: #27AE60; }
.status-green .dot { background-color: #27AE60; }

.status-orange { color: #F2994A; }
.status-orange .dot { background-color: #F2994A; }

.status-red { color: #EB5757; }
.status-red .dot { background-color: #EB5757; }

.action-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

.action-icon.active { background-color: #363B66; }
.action-icon.disabled { background-color: #D3D3D3; cursor: not-allowed; }



.table-controls {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 10px;
}

.refresh-btn {
  display: flex;
  gap:7px;
  font-family: 'Manrope', sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  padding: 10px 10px;
  border-radius: 8px;
}

/* --- αμα θέλουμε να παίξουμε κάτι με τα κουμπιά select των φίλτρων--- */
/* .filter-group {
  display: flex;
  gap: 2px; 
} */

.filter-select {
  background-color: #363B66; 
  color: white;
  font-family: 'Manrope', sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  
  /* padding gia to arrow */
  padding: 10px 35px 10px 10px; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  
  /* kati hacks gia to arrow sto select*/
  appearance: none; 
  background-image: url("../images/arrow.svg"); 
  background-repeat: no-repeat;
  background-position: center right 12px ; 
  background-size: 18px auto;
}

.filter-select:focus {
  outline: none; 
}

option{
    font-family: 'Manrope', sans-serif;
    border-radius: 8px;
}



/* HIDE SHIT FOR JS */

/* --- PROFILE DROPDOWN MENU --- */

.profile-wrapper {
  position: relative; /* anchor */
  list-style: none;
}

.profile-trigger {
  cursor: pointer; 
  user-select: none; /* apagoreuei to ΣΡ na mporei na ginei selected ws text */
}

.profile-dropdown {
  display: block;
  position: absolute;
  text-align: center;
  top: 120%; /* to vazei kato apo ton kuklo*/
  right: 0;  /* terma deksia */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15); 
  min-width: 150px;
  overflow: hidden;
  z-index: 200; 
  line-height: 1.1;
  /* krufo by default */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.profile-dropdown a{
  transition: background 0.2s;
  display: flex;
  justify-content: column;
  padding: 10px 20px;
  gap:8px;
  color: #363B66; 
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

.profile-wrapper.open .profile-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.profile-dropdown a:hover {
  background-color: #F9F9F9; 
  color:#494f8a;

}

.dropdown-divider {
  height: 1px;
  background-color: #E0E0E0; 
  margin: 0; 
}








/* --- LEPTOMERIES TWN TICKETS ADMIN --- */


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dadadac0; 
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 1000;  */
  
  /* krufo by default */
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.modal-overlay.open {
  opacity: 1;
  visibility: visible;
}


/* ---------------- POP UP CARD ---------------- */


.modal-content{
  background: #ffffff;
  border-radius: 12px;
  display: flex; /* gia na einai 3 columns dipla dipla */
  width:870px;
  max-width: 95%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  max-height: 90vh;
  overflow-x: auto;
  overflow-y: auto;
}

.modal-col {
  flex: 1; /* kanei ta rows idio width */
  padding: 30px 25px;
  /* min-width: 240px; */
  display: flex;
  flex-direction: column;
  gap: 25px; /* spacing between rows */
}



.col-white { 
  background: #ffffff; 
}
.col-gray { 
  background: #EBEBEB; 
} 

.info-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: 'Manrope', sans-serif;
}

.label {
  font-weight: 600;
  color: #363B66;
}

.value {
  color: #6C7293;
  font-size: 0.95em;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #363B66;
  cursor: pointer;
  align-self: flex-start;
  padding: 0;
  margin-bottom: 10px;
}

.status-select {
  padding: 6px 7px;
  border-radius: 20px;
  border: 1px solid black; 
  color: #10B981;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 600;
  background: transparent;
  width: max-content;
  cursor: pointer;
}

.description-box {
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  height: 250px;
  background: #ffffff;
}


.admin-table tbody tr {
  cursor: pointer;
  transition: background 0.2s;
}

.admin-table tbody tr:hover {
  background-color: #2131411e; 
}

@media (max-width: 906px) {
  
  .modal-content {
    flex-direction: column; 
    max-width: 60vw;
    height: 90vh;
    
    overflow-x: hidden;
    overflow-y: auto; 
    @media (max-width: 425px){
          overflow-x: auto;
    }
  }
  
  .modal-col {
    width: 100%; 
    padding: 20px 25px; 
    gap: 15px; 
  }
  .description-box {
  width: 70%;
  }
}

/* .modal-nav {
  display: flex;
  align-items: center;
  padding: 0px -15px;
  background-color: #EBEBEB; 
} */

