{{> home-navbar}}

<link rel="stylesheet" href="/css/pages/index.css">

<div class="d-flex flex-column min-vh-100">
    <main class="flex-grow-1 overflow-auto">
        
        <section id="opening-section" class="d-flex flex-column">
            <div class="flex-grow-1 d-flex align-items-end">
                <div class="container pb-5">
                    <div class="opening-caption text-light">
                        <p class="mb-2">ΓΡΑΜΜΑΤΕΙΑ ΠΑΝΕΠΙΣΤΗΜΙΑΚΟΥ ΤΜΗΜΑΤΟΣ</p>
                        <h1 class="mb-4">Διαχείριση <br> Αιτημάτων</h1>
                        <span>Κάνε scroll για είσοδο στην εφαρμογή</span>
                    </div>
                    <div class="scroll-arrow"></div>
                </div>
            </div>
        </section>

        <section id="info" class="py-5">
            <div class="container">
                <div class="row mb-4 col-12">
                    <div class="col-12">
                        <h1 class="custom-info mb-1 px-4">Πληροφορίες</h1>
                        <hr class="custom-hr w-75">
                    </div>
                </div>

                <div class="row mb-4"></div>
                <div class="row mb-4"></div>
                <div class="row mb-4"></div>
                <div class="row mb-4"></div>

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card text-center h-100 p-3 phone">
                            <div class="icon-slot">
                                <img src="/images/Ανώνυμο-σχέδιο.svg" class="card-img-top" alt="phone-icon">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Τηλέφωνο</h5>
                                <p class="card-text">+30 210 1234567 <br> +30 6978403742</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary">Last updated 5 months ago</small>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center h-100 p-3 email">
                            <div class="icon-slot">
                                <img src="/images/2124ac0db949622e8b42892a5df9989b4f00f223.svg" class="card-img-top" alt="mail-icon">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Email</h5>
                                <p class="card-text">secretariat@university.edu.gr <br> info@university.edu.gr</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary">Last updated 3 years ago</small>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center h-100 p-3 hours">
                            <div class="icon-slot">
                                <img src="/images/8fb34c687b85d23d0971f138df5282589d9d02a5.svg" class="card-img-top" alt="hours-icon">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Ωράριο Γραφείου</h5>
                                <p class="card-text">Δευτέρα - Παρασκευή: <br>11:00 - 13:00</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary">Last updated 1 year ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="team" class="py-5">
            <div class="container">
                <div class="row mb-4 col-12">
                    <div class="col-12">
                        <h1 class="custom-info mb-1 px-4">Ομάδα</h1>
                        <hr class="custom-hr w-75">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-10 member1">
                        <div class="d-flex flex-column flex-md-row align-items-start">
                            <div class="team-img me-3">
                                <img src="/images/IMG_2343.jpg" class="team-member-img" alt="giannis-icon">
                            </div>
                            <div class="team-info">
                                <h2 class="team-name">Γιάννης Παπαδόπουλος</h2>
                                <p class="team-role">Electrical and Computer Engineer</p>
                                <p><strong>Email:</strong> <a href="mailto:jnmrs03@gmail.com">jnmrs03@gmail.com</a></p>
                                <p><strong>GitHub:</strong> <a href="https://github.com/johnmarios" target="_blank">github.com/johnmarios</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-4"></div>
                <div class="row mb-4"></div>

                <div class="row">
                    <div class="col-12 col-lg-10 member2">
                        <div class="d-flex flex-column flex-md-row align-items-start">
                            <div class="team-img me-3">
                                <img src="/images/20251126_182827.jpg" class="team-member-img" alt="alexis-icon">
                            </div>
                            <div class="team-info">
                                <h2 class="team-name">Αλέξης Λωρίδας</h2>
                                <p class="team-role">Electrical and Computer Engineer</p>
                                <p><strong>Email:</strong> <a href="mailto:alexisloridas@gmail.com">alexisloridas@gmail.com</a></p>
                                <p><strong>GitHub:</strong> <a href="https://github.com/iLuvPuns" target="_blank">github.com/iLuvPuns</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    
    {{!-- {{> footer}} --}}
</div>