{{!-- this page shows the tables for each role --}}

{{> viewtickets_navbar}}
<link rel="stylesheet" href="/css/pages/viewtickets.css">

<div class="dashboard-main container mt-4">

  <div class="tabs-header">
    

    {{#if isStudent}}
      <button class="tab-link active" onclick="openTab(event, 'my-tickets')">Τα Αιτήματά μου</button>
    {{/if}}

    {{#if isSecretary}}
      <button class="tab-link active" onclick="openTab(event, 'unassigned')">Μη Εκχωρημένα</button>
      <button class="tab-link" onclick="openTab(event, 'my-tickets')">Τα Αιτήματά μου</button>
    {{/if}}
    
    {{#if isLeader}}
      <button class="tab-link active" onclick="openTab(event, 'unassigned')">Μη Εκχωρημένα</button>
      <button class="tab-link" onclick="openTab(event, 'escalated-tab')">Προωθημένα</button>
      <button class="tab-link" onclick="openTab(event, 'my-tickets')">Τα Αιτήματά μου</button>
      <button class="tab-link" onclick="openTab(event, 'leader-tab')">Όλα τα Εκχωρημένα</button>
    {{/if}}

  </div>

  <div class="{{#unless isStudent}}secretary{{/unless}} table-card p-4">
  {{!-- when the user isn't student we have unclaimed tickets --}}
    {{#unless isStudent}}
      <div id="unassigned" class="tab-content" style="display: block;">
        {{> unc_tickets_table tickets=unassignedTickets title="Μη Εκχωρημένα Αιτήματα" isLeader=isLeader secretaries=secretaries}}
      </div>
      <div id="my-tickets" class="tab-content" style="display: none;">
        {{> my_tickets_table tickets=myTickets title="Τα Αιτήματά Μου"}}
      </div>
    {{/unless}}

    {{#if isStudent}}
      <div id="my-tickets" class="tab-content" style="display: block;">
        {{> my_tickets_table tickets=myTickets title="Τα Αιτήματά Μου"}}
      </div>
    {{/if}}

    {{#if isLeader}}
      <div id="escalated-tab" class="tab-content" style="display:none;">
          {{> esc_tickets_table tickets=escalatedTickets title="Προωθημένα Αιτήματα"}}
      </div>

      <div id="leader-tab" class="tab-content" style="display:none;">
          {{> all_tickets_table tickets=allAssignedTickets title="Όλα τα Εκχωρημένα Αιτήματα"}}
      </div>
    {{/if}}

  </div>

</div>

{{!-- Modal templates  --}}
{{#unless isStudent}}
  <div id="modalRoot"></div>

  {{#if isSecretary}}
    <template id="modal-template-secretary">{{> modalSecretaryShell}}</template>
  {{/if}}

  {{#if isLeader}}
    <template id="modal-template-leader">{{> modalLeaderShell}}</template>
    <template id="modal-template-escalated">{{> modalEscalatedShell}}</template>
  {{/if}}
{{/unless}}

{{!--
  rowNav.js powers click-to-navigate on [data-href] rows (used by every
  role). viewtickets.js powers the inline modals on [data-modal-type] rows,
  so it's only needed when the user can actually open a modal.
--}}
<script src="/js/pages/rowNav.js"></script>
{{#unless isStudent}}
  <script src="/js/pages/viewtickets.js"></script>
{{/unless}}