<div class="container-fluid login-nav-container">
  <nav class="login-nav">
    <div class="logo">
      <a href="/">
        <img src="/images/logo.svg" alt="Secretariat Portal logo" class="logo-icon">Secretariat Portal
      </a>
    </div>
    <ul>
      <li><a href="/login"><img src="/images/avatar-person.svg" alt="User account" class="user-icon"></a></li>
    </ul>
  </nav>
</div>