<nav class="navbar portal-navbar sticky-top navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand gap-1" href="#opening-section">
      <img src="/images/logo.svg" alt="Secretariat Portal logo">
      <span class="logo">Secretariat Portal</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item left active"><a class="nav-link" href="#opening-section">Αρχική</a></li>
        <li class="nav-item left not-active"><a class="nav-link" href="#info">Πληροφορίες</a></li>
        <li class="nav-item left not-active"><a class="nav-link" href="#team">Ομάδα</a></li>
      </ul>

      <ul class="navbar-nav avatar-icon">
        <li class="nav-item">
          <a class="nav-link align-items-center justify-content-center rounded-circle" href="/login">
            <img src="/images/avatar-person.svg" alt="User account">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>